* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    background-image: url('./weath4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.header {
    display: flex;
    background: rgba(170, 102, 170, 0.3);
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 3px 3px 9px 4px black;
}
.logo {
    display: flex;
    gap: 4px;
    user-select: none;
}
.logo  h1{
    font-weight: 100;
    z-index: 1;
}
.menu {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

ul {
    list-style-type: none;
}
.menu li {
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 2px black;
    font-weight: 1000;
    letter-spacing: 2px;
    cursor: pointer;
}
nav{
    width: 40%;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    align-self: center;
    position: relative;
}
form  input {
    height: 40px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px groove black;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 10px;
    font-weight: 1000;
    text-align: center;
}
input[type='search']:focus {
    outline: none;
}

form input::placeholder {
    color: rgb(0, 0, 0, 0.5);
}

#searc {
    position: absolute;
    top: 100%;
    font-size: 13px; 
    margin: 5px;
    padding: 3px 6px 3px 6px;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 2px white;
    color: azure;
    background: black;
}
#srch-value {
    color: rgb(90, 255, 13);
}

.detail {
    color: rgba(5, 5, 0, 0.901);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex: 1 1 auto;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.forecast {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 auto;
    justify-content: space-between;
}
.forecast .menu {
    justify-content: center;
    flex-wrap: wrap;

}
.forecast .menu li {
    cursor: pointer;
}
.fore-detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.hours {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    list-style-type: none;
}
.hours > div, .toggler, #src-code{
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 2px black;
    font-weight: 1000;
    flex: 1 1 auto;
}
.toggler {
    flex: 0 1 auto;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggler div {
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px white;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    height: 100%;

}
#giphy {
    border: 6px groove rgb(11, 180, 180);
    border-radius: 20px;
    opacity: .8;
}

#dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 10px groove rgb(0, 0, 255, 0.5);
    padding: 20px;
    color: rgb(255, 204, 204);
}
#dialog::backdrop {
    background: rgb(0, 0, 0, 0.8);
}
#online {
    background: rgb(0, 128, 0, 0.9);
    height: 30px;
    text-align: center;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    visibility: hidden;
    filter: brightness(300%);
}
.err {
    color: red
}

@keyframes codee {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.dev {
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
}
#developer {
    padding: 15px 10px 15px 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 9px 6px gold;
    font-weight: 1000;
    font-size: 20px;
    color: gold;
    width:  fit-content;
    animation: codee 5s linear infinite;
    cursor: pointer;
}

#rope {
    height: 100px;
    background: #0ad8cb;
    width: 3px;
    align-self: center;
    border-radius: 25px;
}
.code {
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
}
.code img {
    width: 40px;
}
#dev-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#src-code {
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 22px;
}
#src-code:hover {
    background: #0ad8cb;
}
#social {
    display: flex;
    gap: 20px;
    
}
#social img {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 3px 3px 7px 5px rgb(3, 28, 28);
}